body {
  background-color: white;
}

#title, #color-palette{
  text-align: center;
  margin: 50px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 150px;
  margin: 10px;
}